
#text {
    background-color: rgba(149, 212, 212, 0.664);
    margin: 80px 1% 1% 1%;
    border-color: rgba(42, 151, 161, 0.653);
    margin-bottom: 20px;

}

#fotos {
    margin: 1% 1% 1% 1%;
    display: flex;
    justify-content: space-between;
}

#card{
    width: 400px;
    margin-bottom: 20px;
    border-color: rgba(42, 151, 161, 0.653);

}
#footer{
    margin-top: 165px;
    height: 80px;
}

#copyright{
    display: flex;
    justify-content: center;
    height: 80px;
    align-items: center;

}